
*{margin: 0px;
    padding: 0px;
}
header #headerone{
   width: 30%;
   display: grid;
   grid-template-columns: 15% 85%; 
   gap: 10px 20px;
   align-items: center;
   padding: 20px ;
}
header #headerone img{
    width: 100%;
    display: block;
    margin-right: 500px;
 }
header #headerone ul{
   text-align: center;
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%; 
   align-items: center;
   padding: 20px ;
}
header #headerone ul ol a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


/*header #headerone button{
    padding: 0.5rem 1.4rem;
    color: white;
    border-radius: 200px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
}*/
#layoutone {
    background-color: #1e3932;
    background-image: url('Images/Green\ Star.png');
    background-size: cover;
    height: 90vh;
    }

    #layoutone #layoutonetext{
    padding-top: 8%;
    padding-left: 3%;
    }

#layoutone #layoutonetext h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    
}

#layoutone #layoutonetext p {
    color: white;
    font-family: -Arial, Helvetica, sans-serif, 
    sans-serif;
    line-height: 1.5rem;
    margin-bottom: 1.3rem;
}

#layoutone #layoutonetext button {
    background-color: #008248;
    padding: 0.5rem 1.4rem;
    color: white;
    border-radius: 200px;
    border-color: transparent;
    margin-bottom: 2rem;
}

#layoutone #layoutonetext p a {
    color: white;
}

#layoutone #header2 p {
    padding: 12px 12px 20px  10%;
    background: #1e3932;
    color: #f3f1e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#layouttwo {
    background-color: #f3f1e7;
    font-family: -Arial, Helvetica, sans-serif, 
    sans-serif;
    line-height: 2.5rem;
    margin-bottom: 2.3rem;
    background-size: cover;
    height: 60vh;
    }
